*~
a
a.c
a.c.lst
/a.out
a.plc
B-C-*.tar.gz
blib
*.bs
ByteLoader/ByteLoader.c
ByteLoader/byterun.*
/*.c
C.bs
C.c
cccode*
ccode*
*.c.lst
C.o
.commit
cover_db/*
.DS_Store
/foo.*
/foo*
fullog.txt
.gdb_history
/Io_argv*
lib/B/Asmdata.pm
lib/B/C/Flags.pm
*.log
log.critical-*
log.do-*
log.*.err
log.make-*
log.test-*
Makefile
Makefile.old
MANIFEST.bak
MANIFEST.files
MYMETA.json
MYMETA.yml
nohup.out
nytprof/
nytprof.out
*.o
/parse*
*.patch
pcc*
pm_to_blib
.prove
ramblings/cplight/
ramblings/cp_light.pod
ramblings/cpmeet1/
ramblings/cp_meet1.pod
ramblings/cp_meet201110_compiler.tar.gz
ramblings/frozenperl2010/
ramblings/How-perl-compiles-subs-and-methods.md
ramblings/mk-sl*
ramblings/yapceu2010/
/results.xml
script/perlcc
Stash/Stash.c
status.1*
TAGS
t/*/*/*/*.bin
t/*/*/*/*.c
t/*.c
/test*
/*.tmp
/tmp*
t/reports
t/*/*/*/*.subtest.*
t/test-*.sh
/t/v5.24.1/t/.gdbinit
/t/v5.*/C-COMPILED/*.bak
/t/v5.*/C-COMPILED/bctestc/*.c
/t/v5.*/C-COMPILED/bctestc/*.pl
/t/v5.*/C-COMPILED/*.dir
/t/v5.*/C-COMPILED/*.pag
/t/v5.*/C-COMPILED/xtestc/*.c
/t/v5.*/C-COMPILED/xtestc/*.pl
/t/v5.*/t/0
/t/v5.*/t/bin*
/t/v5.*/t/bleah.do
/t/v5.*/t/bleah.pm
/t/v5.*/t/.dir
/t/v5.*/t/*.flg
/t/v5.*/t/.pag
/t/v5.*/t/*.pmc
/t/v5.*/t/*/*.subtest.*
/t/v5.*/t/txt*
/t/v5.*/t/urkkk.pm
/t/v5.*/t/utf*
x*.p
